/* --------------------------------------------------------
   TABLA
-------------------------------------------------------- */

/*Requisitos*/
#requisitos{
    padding-top: 30px;
    text-align: center;
    padding-top: 20px;
}


/* Centrado de la tabla */
.tabla {
    margin: 40px auto;     
    border-collapse: collapse;
    width: 80%;             
    text-align: center;
}

/* Le asigno bordes dobles a toda la tabla */
.tabla, 
.tabla th, 
.tabla td {
    border: 3px double #ffffff;  
    padding: 12px;
}

/* Encabezado */
.tabla th {
    background-color: #111;
    color: #fff;
    font-size: 18px;
}

/* filas */
.tabla td {
    background-color: #1b1b1b;
    color: #ddd;
}

/* Alternor el color */
.tabla tr:nth-child(even) td {
    background-color: #222;
}

