/* --------------------------------------------------------
   FORMULARIO
-------------------------------------------------------- */

/* Contenedor general */

#problemas{
    padding: 40px;
}


form, h1{
    text-align: center;
    color: #000;
    
}
.p-formulario{
    font-size: 20px;
    text-align: center;
    color: #000;
}

/* Centra y espacia los elementos del formulario */
form {
    width: 100%;
    max-width: 450px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    background-color: #f5f5f5;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

/* Inputs generales */
form input[type="text"],
form input[type="email"],
form select {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #000;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    outline: none;
}

/* Efecto al hacer clic o poner el cursor */
form input:focus,
form select:focus {
    border-color: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Etiqueta del select */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
}

/* Botón enviar */
form input[type="submit"] {
    width: 95%;
    padding: 14px;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background-color: #333;
}
