/* --------------------------------------------------------
   Primer cuadro - video
-------------------------------------------------------- */
.contenedor-1 {
    padding: 100px;
    height: 856px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Texto principal sobre el video */
.contenedor-1 h1 {
    color: white;
    font-size: 60px;
}

/* Botón de Jugar Ahora */
.contenedor-1 button {
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 20px;
    border-radius: 5px;
    width: 150px;
    height: 70px;
    font-family: 'Anton', sans-serif;
    border: none;
    cursor: pointer;
}

.contenedor-1 button:hover{
    background-color: #ece8e1;
    color: black;
}

/* Video de fondo */
.contenedor-1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* --------------------------------------------------------
  Segundo cuadro - Sobre
-------------------------------------------------------- */
.contenedor-2 {
    background-color: rgb(20, 24, 27);
    padding: 100px;
    width: 100%;
    color: white;
}

.contenedor-2 h1 {
    margin-top: -80px;
}

#video-sobre{
    width: 1200px;
    height: 500px;
    position: relative;
    right: -650px;
    top: -50px;
   
}


/* --------------------------------------------------------
  Tercer cuadro - Mas
-------------------------------------------------------- */
.contenedor-3 {
    padding: 100px;
    width: 100%;
    background-color: rgb(237, 104, 104);
    color: white;
}

/* Alineacion de tarjetas */
.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

/* Estilo base para las tarjetas */
.tarjeta {
    width: 260px;
    background-color: #1D2326;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #C93038;
    color: white;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(255, 70, 85, 0.2);
}

/* Título de tarjetas */
.tarjeta h2 {
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #FF4655;
}

/* Texto de tarjetas */
.tarjeta p {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}

/* Botón*/
.tarjeta button {
    background-color: #FF4655;
    border: none;
    padding: 10px 18px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tarjeta button:hover {
    background-color: #D73C48;
}


