/* --------------------------------------------------------
   Armas
-------------------------------------------------------- */

.contenedor-armas {
    border-top: 2px solid rgb(201, 48, 56); /*Le añadi un color al borde de arriba para separarlo del encabezado*/
    width: 100%;
    margin: auto;
    padding: 40px 20px;
    background-color: #14181B;
}

/* Títulos de categoría */
.categoria {
    text-align: center;
    margin: 40px 0 20px;
    color: rgb(201, 48, 56);
    font-size: 28px;
}

/* Contenedor de tarjetas */
.tabla-armas {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

/* Tarjeta del arma */
.arma {
    background-color: #1A1F23;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    width: 180px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.25s;
}

.arma:hover {
    transform: scale(1.08);
}

.arma img {
    width: 150px;
    height: auto;
    margin-bottom: 12px;
}

/* Información */
.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.nombre {
    color: white;
    font-weight: bold;
}

.precio {
    color: rgb(201, 48, 56);
    font-weight: bold;
}
