/* --------------------------------------------------------
   Primer cuadro - video
-------------------------------------------------------- */
.contenedor-1 {
    padding: 100px;
    height: 856px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Texto principal sobre el video */
.contenedor-1 h1 {
    color: white;
    font-size: 60px;
}

/* Botón de Jugar Ahora */
.contenedor-1 button {
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 20px;
    border-radius: 5px;
    width: 150px;
    height: 70px;
    font-family: 'Anton', sans-serif;
    border: none;
    cursor: pointer;
}

.contenedor-1 button:hover{
    background-color: #ece8e1;
    color: black;
}

/* Video de fondo */
.contenedor-1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* --------------------------------------------------------
  Segundo cuadro - Sobre
-------------------------------------------------------- */
.contenedor-2 {
    background-color: rgb(20, 24, 27);
    padding: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.contenedor-2 p {
    padding-top: 10px;
    font-size: 25px;
}

/* Columna izquierda */
.texto h1 {
    margin-bottom: 20px;
    color: rgb(201, 48, 56);
}

/* Video */
#video-sobre {
    width: 600px;
    border-radius: 10px;
    margin-left: auto;
}

/* --------------------------------------------------------
  Tercer cuadro - Mas
-------------------------------------------------------- */
.contenedor-3 {
    padding: 100px;
    width: 100%;
    background-color: rgb(237, 104, 104);
    color: white;
}

/* Alineacion de tarjetas */
.contenedor-tarjetas {
    display: flex;
    justify-content: center;
    align-items: flex-start; /*Esto hace que inicie desde arriba*/
    gap: 40px;
    padding: 50px;
}

/* Tarjetas estilo base*/
.tarjeta {
    width: 320px;
    height: 480px;               
    background-color: #1D2326;
    padding: 30px;
    border-radius: 14px;
    border: 2px solid #C93038;
    color: white;
    text-align: center;
    display: flex;             
    flex-direction: column;       
    justify-content: flex-start;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*Hace que se eleve al pasar el raton por encima*/
                                                            /*El 0.3 es el tiempo que tarda en subir*/
}

.tarjeta:hover {
    transform: translateY(-12px);
    box-shadow: 0px 10px 25px rgba(255, 70, 85, 0.25);
}

.tarjeta img {
    width: 100%;
    height: 180px;          
    object-fit: cover;    /*Esto evita que se deformen las imagenes*/
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Títulos */
.tarjeta h2 {
    letter-spacing: 2px;
    margin-bottom: 15px;
    color: #FF4655;
    font-size: 22px;
}

/* Texto */
.tarjeta p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 20px;
    flex-grow: 1;                 /* Empuja el botón hacia abajo de forma uniforme */
}

/* Botón */
.tarjeta button {
    background-color: #FF4655;
    border: none;
    padding: 12px 22px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tarjeta button:hover {
    background-color: #D73C48;
}



