* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body {
    background-color: #14181B;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contenedor-armas-mano {
    width: 90%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(201, 48, 56);
}

.tabla-armas-mano {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.arma {
    background-color: rgba(255, 255, 255, 0.05); /* bordes transparentes */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 140px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.arma:hover {
    transform: scale(1.05);
}

.arma img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
}

.nombre {
    color: white;
}

.precio {
    color: rgb(201, 48, 56);
    font-weight: bold;
}
